{foreach name=reservation item=reservation from=$data}
  {if $reservation.entries.dateConfigs|@count > 0}
    <h6>{$reservation.entries.title}</h6>
    {foreach name=config item=config from=$reservation.entries.dateConfigs}
      {foreach name=booking item=booking from=$config.bookings}
        {assign var="disabled" value=''}
        {if $booking neq 'free'}
          {assign var="disabled" value='disabled="disabled"'}
        {/if}
        <div class="form-check">
          <input {$disabled} id="{$config.time_value}" class="form-check-input cntnd_booking-admin-order-booking" type="radio" name="booking" value="{$config.time_value}" />
          <label for="{$config.time_value}" class="form-check-label">{$config.time} bis {$config.time_until}</label>
        </div>
      {/foreach}
    {/foreach}
    <hr />
  {/if}
{/foreach}
