{foreach key=datum item=reservation from=$data}
  <h5>{$datum}</h5>
  {foreach item=res from=$reservation}
  {if !empty($res.title)}
  <h6>{$res.title}</h6>
  {/if}
  <div class="card cntnd_booking {$res.status} {if $res.past}past{/if}" data-resid="{$res.id}" data-timeslot="{$datum} {$res.time} - {$res.name} ({$res.personen} Personen)">
    <h5 class="card-header">{$res.time} - Personen: {$res.personen}</h5>
    <div class="card-body">
      <div class="card-text">
        {$res.name}<br />
        {$res.adresse}{if $res.adresse neq '' and $res.plz_ort neq ''}, {/if}{$res.plz_ort}<br />
        {$res.email}<br />
        {$res.telefon}<br />
        {$res.bemerkungen}<br />
        <button class="btn btn-dark cntnd_booking-admin-choose">Auswählen</button>
      </div>
    </div>
  </div>
  {/foreach}
{/foreach}
