<h2>Reservation</h2>
<div class="form-vertical">
	<div class="form-group">
		<label for="name">Vor- und Nachname<em>*</em></label>
		<input type="text" name="name" id="name" value="" class="form-control required" />
	</div>
	<div class="form-group">
		<label for="adresse">Adresse</label>
		<input type="text" name="adresse" id="adresse" value="" class="form-control" />
	</div>
	<div class="form-group">
		<label for="plz_ort">PLZ Ort</label>
		<input type="text" name="plz_ort" id="plz_ort" value="" class="form-control" />
	</div>
	<div class="form-group">
		<label for="email">E-Mail<em>*</em></label>
		<input type="email" name="email" id="email" value="" class="required email form-control" />
	</div>
	<div class="form-group">
		<label for="telefon">Telefon</label>
		<input type="text" name="telefon" id="telefon" value="" class="form-control" />
	</div>
	<div class="form-group">
		<label for="bemerkungen">Bemerkungen</label>
		<textarea name="bemerkungen" id="bemerkungen" class="form-control"></textarea>
	</div>
</div>
