<!-- cntnd_simple_booking/template/booking.html -->
<div class="cntnd_booking-form"><span>Reservieren</span></div>
{if $interval}
    {include file="cntnd_simple_booking/template/booking-interval.html" data=$data pagination=$pagination one_click=$one_click}
{else if $recurrent}
    {include file="cntnd_simple_booking/template/booking-recurrent.html" data=$data pagination=$pagination one_click=$one_click}
{else}
    {include file="cntnd_simple_booking/template/booking-default.html" data=$data pagination=$pagination one_click=$one_click}
{/if}
<!-- cntnd_simple_booking/template/booking.html -->