<p>
	<b>Sie haben folgende Reservation getätigt:</b><br />
	<i>
		(Sie erhalten eine Nachricht, sobald die Reservation definitiv bestätigt wird;<br />
		der gewählte Zeitraum wird dann im Kalender rot markiert.)
	</i>
</p>
<table>
	<tr>
		<td><b>Sauna:</b></td><td><b>{$sauna}</b></td>
		</tr><tr>
		<td>Datum:</td><td>{$date}</td>
		</tr><tr>
		<td>Zeit:</td><td>{$time}</td>
		</tr><tr>
		<td>Anzahl Personen:</td><td>{$personen}</td>
		</tr><tr>
		<td colspan="2"><hr /></td>
		</tr><tr>
		<td>Name:</td><td>{$name}</td>
		</tr><tr>
		<td>Adresse:</td><td>{$adresse}</td>
		</tr><tr>
		<td>PLZ Ort:</td><td>{$plz_ort}</td>
		</tr><tr>
		<td>E-Mail:</td><td>{$email}</td>
		</tr><tr>
		<td>Telefon:</td><td>{$telefon}</td>
		</tr><tr>
		<td>Bemerkungen:</td><td>{$bemerkungen}</td>
	</tr>
</table>