<!-- cntnd_simple_booking/template/reservation_liste-recurrent.html -->
<table class="table cntnd_booking-table">
{foreach name=reservation item=reservation from=$data}
    {if $reservation.entries.dateConfigs|@count > 0}
        {assign var="show_date" value=''}
        {if $reservation.dateIndex>$reservation.showDaterange}
            {assign var="show_date" value='not-in-range hide'}
        {/if}
        <tr class="{$show_date}">
            <th rowspan="2">{$reservation.entries.title}</th>
            {foreach name=config item=config from=$reservation.entries.dateConfigs}
            <td>
                {assign var="booking_date" value=''}
                {if !$one_click}
                    {assign var="booking_date" value='cntnd_booking-date_vertical'}
                {/if}
                <span class="{$booking_date}" data-slot="{$reservation.dateIndex}-{$config.time_index}">{$config.time} bis {$config.time_until}</span>
                {if $config.comment neq ''}
                    <br /><small>{$config.comment}</small>
                {/if}
            </td>
            {/foreach}
        </tr>
        <tr class="{$show_date}">
            {foreach name=config item=config from=$reservation.entries.dateConfigs}
            <td>
                <div class="d-flex cntnd_booking_slots--vertical" data-slot="{$reservation.dateIndex}-{$config.time_index}">
                    {foreach name=booking item=booking from=$config.bookings}
                        {assign var="disabled" value=''}
                        {if $booking neq 'free'}
                            {assign var="disabled" value='disabled="disabled"'}
                        {/if}

                        {if $one_click}
                            {include file="cntnd_simple_booking/template/reservation_liste-slot-oneclick.html" status=$booking disabled=$disabled value=$config.time_value}
                        {else}
                            {include file="cntnd_simple_booking/template/reservation_liste-slot.html" status=$booking disabled=$disabled dateIndex=$reservation.dateIndex timeIndex=$config.time_index}
                        {/if}
                    {/foreach}
                </div>
            </td>
        {/foreach}
        </tr>
    {/if}
{/foreach}
</table>
{if $pagination}
{include file="cntnd_simple_booking/template/pagination.html"}
{/if}
<!-- /cntnd_simple_booking/template/reservation_liste-recurrent.html -->