/* cntnd_booking */
@import url("https://cdn.jsdelivr.net/gh/cntnd/core_style@1.2.0/dist/core_style.css");
.content_box {
  border: 1px solid silver;
}

.content_box.cntnd_simple-booking {
  background: white;
  width: 1000px;
}

.content_type_label {
  background: silver;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

/* OUTPUT */
.cntnd_booking-date,
.cntnd_booking-date_vertical,
.cntnd_booking-date_interval,
.cntnd_booking--action,
.cntnd_booking-more,
.cntnd_booking-less {
  cursor: pointer;
  text-decoration: underline;
  color: #107dac;
}

.cntnd_booking-date_interval__label {
  font-size: small;
  font-weight: bold;
}

.cntnd_booking--actions {
  margin: 0.75em 0 0;
  padding: 0;
}
.cntnd_booking--actions .cntnd_booking--action {
  font-size: small;
  font-weight: normal;
  list-style-type: none;
  margin: 0.25em 0;
}

.cntnd_booking-pagination {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.card.cntnd_booking {
  font-size: small;
  margin-bottom: 0.35rem;
}
.card.cntnd_booking .card-header,
.card.cntnd_booking .card-title {
  font-size: 1rem;
}
.card.cntnd_booking.focus {
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}
.card.cntnd_booking.blocked .card-header {
  background-color: #FF9933;
}
.card.cntnd_booking.reserved .card-header {
  background-color: #FF6666;
}
.card.cntnd_booking.past {
  background: #eee;
}

.pt-10 {
  padding-top: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.cntnd_booking__slot {
  padding: 4px 8px;
  margin: 2px;
  border-radius: 6px;
  border: 1px solid #808080;
}
.cntnd_booking__slot[data-status=free] {
  background-color: #99CC66;
}
.cntnd_booking__slot[data-status=blocked] {
  background-color: #FF9933;
}
.cntnd_booking__slot[data-booking=blocked] {
  border: 2px solid #000000;
  background-color: #FF9933;
}
.cntnd_booking__slot[data-status=reserved] {
  background-color: #FF6666;
}

.cntnd_booking-checkbox {
  visibility: hidden;
}

tr.highlight td {
  background-color: rgba(50, 50, 50, 0.1);
}

.highlight .cntnd_booking-checkbox {
  visibility: visible;
}

/* ADMIN */
.cntnd_booking-admin-timeslot {
  font-weight: 700;
}

.w-50 {
  width: 48% !important;
}

/* INPUT */
textarea.form-control {
  height: 100px !important;
}

.w-auto.form-group {
  margin-right: 1rem;
}

.interval_configuration:disabled > .cntnd_alert {
  display: none;
}

/* ADMIN */
.form-check-inline {
  margin-right: 0 !important;
}
.form-check-inline .form-check-input {
  width: 0.9rem;
}
.form-check-inline label {
  width: auto;
}

.table {
  width: 100%;
  vertical-align: top;
  border-color: #85878a;
}
.table td {
  font-size: 0.8rem;
}
.table.table-payments > tbody > tr:nth-of-type(odd) > * {
  background-color: #eeeeee;
}
.table.table-cart {
  border-color: #eeeeee;
}

.form-check-label {
  font-size: 12px;
}

/* Booking */
.cntnd_booking-form {
  background: rgba(204, 204, 204, 0.85);
  padding: 10px;
  position: fixed;
  top: 50%;
  right: 0;
  cursor: pointer;
  font-weight: bold;
}

/* CART */
#cart_giftcard {
  display: none;
}