/* cntnd_booking */
@import url('https://cdn.jsdelivr.net/gh/cntnd/core_style@0.1.0/dist/core_style.css');
@import '_vars.scss';

.content_box {
	border: 1px solid silver;
}
.content_type_label {
	background: silver;
}

.hide {
	display: none !important;
}

.show {
	display: block !important;
}

/* OUTPUT */
.cntnd_booking-date,
.cntnd_booking-more,
.cntnd_booking-less {
	cursor: pointer;
	text-decoration: underline;
	color: $res-date;
}

.cntnd_booking-pagination {
	margin-top: $padding;
	margin-bottom: $padding;
}

.card.cntnd_booking {
	font-size: small;
	margin-bottom: 0.35rem;

	.card-header,
	.card-title {
		font-size: 1rem;
	}

	&.focus {
		box-shadow: 0 0 0 0.2rem rgba(82,88,93,.5);
	}

	&.blocked .card-header {
		background-color: $blocked;
	}

	&.reserved .card-header {
		background-color: $reserved;
	}
}

.pr-10 {
	padding-right: 10px;
}
.pl-10 {
	padding-left: 10px;
}

.cntnd_booking__slot {
	padding: 4px 8px;
	margin: 2px;
	border-radius: 6px;
	border: 1px solid #808080;

	&[data-status="free"] {
		background-color: $free;
	}

	&[data-status="blocked"] {
		background-color: $blocked;
	}

	&[data-booking="blocked"]{
		border: 2px solid #000000;
		background-color: $blocked;
	}

	&[data-status="reserved"] {
		background-color: $reserved;
	}
}

.cntnd_booking-checkbox {
	visibility: hidden;
}

tr.highlight {
	td {
		background-color: rgba(50, 50, 50, 0.1);
	}

	.cntnd_booking-checkbox {
		visibility: visible;
	}
}

/* AMDIN */
.cntnd_booking-admin-timeslot {
	font-weight: 700;
}
